.top-navigation {
	@include rem(padding, 0 $spacing__extra-nav-width);
	border-top: $border__extra-navigation-top;
	border-bottom: $border__extra-navigation-bottom;
	background-color: $color__background-extra-navigation;

	ul {
		float: right;

		ul {
			@include rem(top, $top__extra-nav-dropdown);
			border: $border__extra-navigation-dropdown;
			background-color: $color__background-extra-navigation;
			background-color: $color__background-extra-navigation-dropdown;

			a {
				width: $width__extra-nav-dropdown;
				@include rem(padding, $spacing__extra-nav-dropdown);
			}

			:hover > a {
			}

			a:hover {
			}
		}
	}
	
	li {

		&:hover > a {
			background-color: $color__background-extra-navigation-hover;
			color: $color__extra-navigation-link-hover;
		}
	}
	
	a {
		@include rem(padding, $spacing__extra-nav-link-height $spacing__extra-nav-link-width);
		font-family: $font__extra-navigation;
		@include font-size($font__size-extra-navigation);
		font-weight: normal;
		text-decoration: none;
		color: $color__extra-navigation-link;
		
		&:visited {
			color: $color__extra-navigation-link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
			background-color: $color__background-extra-navigation-current;
			color: $color__extra-navigation-link-current;
	}
}