.main-navigation {
	@include rem(padding, 0 4rem);
	border-top: $border__site-navigation-top;
	border-bottom: $border__site-navigation-bottom;
	background-color: $color__background-site-navigation;

	ul {

		ul {
			@include rem(top, 4.1rem);
			border: $border__site-navigation-dropdown;
			background-color: $color__background-site-navigation;
			background-color: $color__background-site-navigation-dropdown;

			a {
				width: 160px;
				@include rem(padding, 0.5rem 2rem);
			}

			:hover > a {
			}

			a:hover {
			}
		}
	}
	
	li {

		&:hover > a {
			background-color: $color__background-site-navigation-hover;
			color: $color__site-navigation-link-hover;
		}
	}
	
	a {
		@include rem(padding, 1rem 2rem);
		font-family: $font__site-navigation;
		@include font-size($font__size-site-navigation);
		font-weight: bold;
		text-decoration: none;
		color: $color__site-navigation-link;
		
		&:visited {
			color: $color__site-navigation-link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
			background-color: $color__background-site-navigation-current;
			color: $color__site-navigation-link-current;
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}