.widget-title {
	display: inline-block;
	width: 100%;
    @include rem(margin-bottom, $margin-bottom__sidebar-title);
}

.widget ul {
	margin: 0; // Reset
    padding: 0; // Reset
	list-style: none;
	
	ul {
		@include rem(padding-left, $spacing__sidebar-list);
		list-style-type: circle;
	}
}

.widget ol {
	margin: 0; // Reset
    @include rem(padding, 0 0 0 $spacing__sidebar-list);
	list-style-type: decimal;
}

.widget select {
	max-width: 100%; // Make sure select elements fit in widgets.
}