.site-footer .site-info {
	border-top: $border__footer-top;
	font-family: $font__footer;
	@include font-size($font__size-footer);
	color: $color__footer-text;
	background-color: $color__background-footer;
	
	.copyright,
	.theme-info {
		@include rem(padding, 1rem 0);
	
	}
	
	.copyright {
		float: left;
	}
	
	.theme-info {
		float: right;
	}
	
	a {
		text-decoration: none;
	}
}