.site-footer .site-info {
    @include rem(padding, $spacing__footer-height $spacing__footer-width);
	border-top: $border__footer-top;
	background-color: $color__background-footer;
	color: $color__footer-text;
	font-family: $font__footer;
	@include font-size($font__size-footer);
	
	.copyright {
		float: left;
	}
	
	.theme-info {
		float: right;
	}
	
	a {
		text-decoration: none;
	}
}