p {
	margin-bottom: $margin__spacing-bottom;
}

b,
cite,
strong {
	font-weight: bold;
}

dfn,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 $margin__spacing-bottom;
}

abbr {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark {
	background: $color__background-mark;
	text-decoration: none;
}

ins,
u {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

/* Deprecated in HTML5, but just in case */

acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

big {
	font-size: 125%;
}