h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	text-align: left;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none;
}

h1 {
	font-family: $font__title;
	@include font-size($font__size-title);
	line-height: $font__line-height-title;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: $font__headers;
}

h2 {
	@include font-size($font__size-h2);
	line-height: $font__line-height-h2
}

h3 {
	@include font-size($font__size-h3);
	line-height: $font__line-height-h3
}

h4,
h5,
h6 {
	@include font-size($font__size-h4);
	line-height: $font__line-height-h4
	font-weight: bold;
}