.site-main { // #main
	@include rem(padding, $padding__content);
	border-right: $border__secondary-column;
	border: $border__primary;
	background-color: $color__background-body;
	background-color: $color__background-primary;
}

.page-header {
	background: $color__background-page-header;
	@include rem(margin, (-$padding__content) (-$padding__content) 0);
	@include rem(padding, $padding__content);
	
	.page-title {
		font-weight: bold;
	}
	
	p {
	margin: 0;
	}
}

.sticky {
	display: block;
}

.hentry {
	@include rem(padding, $padding__content-article);
}

img.wp-post-image {
	display: block;
	@include rem(margin, 0 auto 1rem);
}

.entry-header {
	@include rem(margin-bottom, $margin__spacing-bottom);
}

h1.entry-title {
	margin-left: -2px; // Fixes larger font alignment with smaller fonts
	
	a,
	a:visited {
		text-decoration: none;
		color: $color__title-link;
	}
	
	a:hover,
	a:focus,
	a:active {
		text-decoration: none;
		color: $color__title-link-hover;
	}
}

.entry-meta {
	font-family: $font__meta;
	@include font-size($font__size-meta);
	color: $color__text-meta;
	
	.edit-link {
		@include rem(margin-left, $margin__spacing-left);
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	text-align: justify;
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include rem(padding, $margin__spacing-bottom 0);
	}
	
	p {
		@include rem(margin-bottom, $margin__spacing-bottom);
	}
}

.entry-footer {
	font-family: $font__meta;
	@include font-size($font__size-meta);
	color: $color__text-meta;
	
	span {
		display: inline-block;
		@include rem(margin-right, $margin__spacing-left);
	}
	
	.edit-link {
		margin-right: 0; // Reset
	}
}