pre {
	overflow: auto;
	max-width: 100%;
	@include rem(margin-bottom, $spacing__element-bottom);
	@include rem(padding, $spacing__element-left);
	font-family: $font__pre;
	@include font-size($font__size-pre);
	line-height: $font__line-height-pre;
}

code, kbd, samp, var {
	font-family: $font__code;
	@include font-size($font__size-code);
	background: $color__background-code;
}

/* Deprecated in HTML5, but just in case */

tt {
	font-family: $font__code;
	@include font-size($font__size-code);
	background: $color__background-code;
}