table {
	width: 100%;
	@include rem(margin, 0 0 $margin__spacing-bottom);
	border-collapse: collapse;
}

table,
th,
td {
	border: $border__table;
}

th,
td {
	@include rem(padding, 0.2rem 0.4rem);
}

th {
	font-weight: bold;
}

.hentry {

	th {
		background-color: $color__background-table-th;
	}
	
	tbody tr:nth-child(odd) {
		background-color: $color__background-table-tr;
	}
}