$size__site-main: 100%;
$size__site-sidebar: 25%;

$padding__content: 3rem;
$padding__content-article: 3rem;

$margin__spacing-bottom: 2rem;
$margin__spacing-left: 2rem;

$margin__spacing-comments: ($margin__spacing-left / 2);

$padding__secondary: 3rem 3rem 0;
$padding__secondary-widget: 3rem;

$padding__tertiary: 3rem;
$padding__tertiary-widget: 3rem;