/* Sections */

$font__extra-navigation: sans-serif;
$font__size-extra-navigation: 0.75;
$font__site-title: sans-serif;
$font__size-site-title: 3;
$font__line-height-site-title: 0.1;
$font__site-description: sans-serif;
$font__size-site-description: 1;
$font__line-height-site-description: 0.3;
$font__site-navigation: sans-serif;
$font__size-site-navigation: 0.875;

$font__title: sans-serif; // typography\headings.scss
$font__size-title: 2;
$font__line-height-title: 1;
$font__meta: sans-serif;
$font__size-meta: 0.875;
$font__headers: sans-serif; // typography\headings.scss
$font__size-h2: 1.625;
$font__line-height-h2: 1;
$font__size-h3: 1.25;
$font__line-height-h3: 1.25;
$font__size-h4: 1;
$font__line-height-h4: 1.5;
$font__body: Georgia, serif; // typography\typography.scss
$font__size-body: 1;
$font__line-height-body: 1.5;
$font__size-comments-title: 1.25;
$font__line-height-comments-title: 1.25;
$font__size-comment-author: 1;
$font__size-comments: 0.875;

$font__title-secondary: sans-serif;
$font__size-title-secondary: 1;
$font__secondary: sans-serif;
$font__size-secondary: 0.875;
$font__title-tertiary: sans-serif;
$font__size-title-tertiary: 1;
$font__tertiary: sans-serif;
$font__size-tertiary: 0.875;
$font__footer: Georgia, serif;
$font__size-footer: 0.75;

/* Elements & Forms */

$font__size-caption: 0.875;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__size-pre: 0.9375;
$font__line-height-pre: 1.6;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__size-code: 0.9375;
$font__size-button: 0.875;
$font__line-height-button: 1.2;