.alignleft {
	display: inline;
	float: left;
	@include rem(margin-right, $margin__spacing-left);
}

.alignright {
	display: inline;
	float: right;
	@include rem(margin-left, $margin__spacing-left);
}

.aligncenter {
	@include center-block;
}